html {
  scroll-behavior: smooth;
}

#logo {
  max-width: 75px;
}

#hide {
  display: none;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

#top-nav {
  background-color: rgba(255, 255, 255);
}


/* .img-fluid {
  padding-left: 15px;
  padding-right: 15px;
} */

/* .col-sm-8 .panorama-wrapper {
  padding-left: 0 !important;
  padding-right: 0 !important;
} */

.modal-backdrop.show {
  opacity: 0.8;
}

.panorama-wrapper {
  overflow-x: auto;
  white-space: nowrap;
  display: block;
  float: none;
  width: 160%;
  margin-left: -30%;
}

.panorama-picture {
  max-height: 100vh;
}