html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

#logo {
  max-height: 65px;
}

#hide {
  display: none;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

#top-nav {
  background-color: rgba(255, 255, 255);
}

.modal-backdrop.show {
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  .panorama-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    display: block;
    float: none;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
  }
}

@media only screen and (min-width: 768px) {
  .panorama-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    width: 180%;
    margin-left: -40%;
  }
}

.panorama-picture {
  max-height: calc(100vh - 91px);
}
